<section class="container-sm">
  <div class="d-flex justify-content-between">
    <h4>Edit recipe</h4>
    <a href="#" routerLink="/recipe/index" class="btn btn-primary">Back</a>
  </div>

  <hr />

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group row">
      <div class="col-md-6">
        <label for="title">Recipe name:</label>
        <input
          formControlName="name"
          [(ngModel)]="recipe.name"
          id="name"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="f['name'].touched && f['name'].invalid"
          class="alert alert-danger"
        >
          Provide a recipe name.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="body">Instructions:</label>
        <input
          formControlName="body"
          [(ngModel)]="recipe.body"
          id="body"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="f['body'].touched && f['body'].invalid"
          class="alert alert-danger"
        >
          Add cooking instructions.
        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-6">
        <label for="body">Cuisine:</label>
        <input
          formControlName="cuisine"
          [(ngModel)]="recipe.cuisine"
          id="cuisine"
          type="text"
          class="form-control"
        />
        <div
          *ngIf="f['cuisine'].touched && f['cuisine'].invalid"
          class="alert alert-danger"
        >
          Specify the type of cuisine.
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
      Update
    </button>
  </form>
</section>
