<!-- <p>{{apiData}}</p>
<p>{{externalrecipes.hits[0].recipe.label}}</p>
<p>{{externalrecipes.hits[0].recipe.mealType}}</p>
<p>{{externalrecipes.hits[0].recipe.cuisineType[0]}}</p>
<img src="{{externalrecipes.hits[0].recipe.image}}" alt="{{externalrecipes.hits[0].recipe.label}}" /> -->
<!-- {{ searchTerm | json }} -->
<div class="container">
<section id="search-component">
  <form (ngSubmit)="onSubmit()" #searchForm="ngForm">
    <label for="search">Recipe Search</label>
    <input
      type="text"
      id="search"
      required
      [(ngModel)]="query.term"
      name="search"
    />
   <!-- following fields need to be predefined selectors, NOT free-search -->
    <div class="form-group">
        <label for="dish">Dish Type</label>
        <select class="form-control" id="dish"
                required
                [(ngModel)]="query.dish" name="dish"
                #dish="ngModel">
          <option *ngFor="let dishtype of dishtypes" [value]="dishtype">{{dishtype}}</option>
        </select>

        <label for="diet">Diet Type</label>
        <select class="form-control" id="diet"
                required
                [(ngModel)]="query.diet" name="diet"
                #diet="ngModel">
          <option *ngFor="let diettype of diettypes" [value]="diettype">{{diettype}}</option>
        </select>

        <label for="cuisine">Cuisine</label>
        <select class="form-control" id="cuisine"
                required
                [(ngModel)]="query.cuisine" name="cuisine"
                #cuisine="ngModel">
          <option *ngFor="let cuisinetype of cuisinetypes" [value]="cuisinetype">{{cuisinetype}}</option>
        </select>

        <label for="health">Health etc.</label>
        <select class="form-control" id="health"
                required
                [(ngModel)]="query.health" name="health"
                #health="ngModel">
          <option *ngFor="let healthtype of healthtypes" [value]="healthtype">{{healthtype}}</option>
        </select>
      </div>

    <button class="btn btn-primary" type="submit">Search</button>
  </form>

<div>
<h4 class="bg-info"> {{ message }}</h4>
</div>

  <section *ngFor="let index of externalrecipes.hits">
    <div class="center-block">
    <a class="text-center" [(href)]="index.recipe.url">{{ index.recipe.label }}</a>
    <button *ngIf="isLoggedIn()" class="btn btn-primary" type="button" (click)="addToList([index.recipe.label, index.recipe.url, index.recipe.cuisineType[0]])">
      Add to my recipes
    </button>
  </div>
    <img class="img-responsive" [src]="index.recipe.image" [alt]="index.recipe.label" />
    <p>{{ index.recipe.mealType }}</p>
    <p>{{ index.recipe.cuisineType[0] }}</p>
    <ul *ngFor="let ingredient of index.recipe.ingredients">
      <li>{{ ingredient.text }}</li>
    </ul>
   
  </section>
</section>
</div>