<section class="container-sm">
  <div *ngIf="!isLoggedIn()" class="d-flex justify-content-between">
    <h5>You need to be logged in to view this page</h5>
  </div>

  <div *ngIf="isLoggedIn()" class="d-flex justify-content-between">
    <h4>My recipes</h4>
    <a routerLink="/recipe/create" class="btn btn-success">Create New Recipe</a>
  </div>
  <div>
    <h4 class="bg-info"> {{ message }}</h4>
    </div>
  <br />
  <div class="table-responsive-sm">
    <table class="table table-sm">
      <tr class="text-light bg-dark">
        <!-- <th>ID</th> -->
        <th>Name</th>
        <th>Body</th>
        <th class="hidden-xs">Cuisine</th>
        <th >Action</th> 
      </tr>
      <!-- width="220px" -->
      <tr class="bg-light" *ngFor="let recipe of recipes">
        <!-- <td>{{ recipe.id }}</td> -->
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.body }}</td>
        <td class="hidden-xs">{{ recipe.cuisine }}</td>
        <td>
          <a
            href="#"
            [routerLink]="['/recipe/', 'edit', recipe.id]"
            class="btn btn-primary"
            >Edit</a
          >
          <button
            type="button"
            (click)="deleteRecipe(recipe.id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</section>
