<section>
  <div *ngIf="!isLoggedIn()" class="d-flex justify-content-between">
    <h5>You need to be logged in to view this page</h5>
  </div>

  <div *ngIf="isLoggedIn()" class="d-flex justify-content-between">
    <h4>List recipe</h4>
    <a routerLink="/recipe/create" class="btn btn-success">Create New Recipe</a>
  </div>
  <br />
  <div>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Body</th>
        <th>Cuisine</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let recipe of recipes">
        <td>{{ recipe.id }}</td>
        <td>{{ recipe.name }}</td>
        <td>{{ recipe.body }}</td>
        <td>{{ recipe.cuisine }}</td>
        <td>
          <a
            href="#"
            [routerLink]="['/recipe/', 'edit', recipe.id]"
            class="btn btn-primary"
            >Edit</a
          >
          <button
            type="button"
            (click)="deleteRecipe(recipe.id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </table>
  </div>
</section>
